@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{
    text-align: center;
}

h4{
    color: black;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.login{
    width: 400px;
    background: white;
    padding: 40px;
    margin: auto;
    margin-top: 10px;
    border-radius: 20px;
}

.login h4 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: bold;
}

.controles{
    text-align: center;
    width: 100%;
    padding: 4px;
    border-radius: 5px;
    margin-bottom: 16px;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #7F00FF;  
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  
    background: linear-gradient(to right, #E100FF, #7F00FF); 
}


.botones{
    width: 80%;
    padding: 12px;
    background-color: #d64dd1;
    color: white;
    border: none;
    font-size: 15px;
    margin: 10px;
    margin-left: 10%;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.login p {
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.login a{
    color: black;
    text-decoration: underline;
}

img{
    width: 250px;
    height: 250px;
}

.error{
    color: rgb(203, 5, 203);
}