@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{
    text-align: center;
}

h4{
    color: black;
    margin: center;
    font-family: 'Roboto', sans-serif;
}

.register{
    width: 450px;
    background: white;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    border-radius: 20px;
}

.register h4 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.controles{
    font-family: 'Poppins', sans-serif;
    width: 60%;
    margin:auto ;
    margin-left: 20%;
    text-align: center;
    padding: 4px;
    border-radius: 10px;
    margin-bottom: 12px;
}

body{
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.botones{
    width: 80%;
    padding: 12px;
    background-color: #d64dd1;
    color: white;
    border: none;
    font-size: 20px;
    margin: 10px;
    margin-left: 10%;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.register p {
    margin-top: 10px;
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.register a {
    color: rgb(0, 0, 0);
}

img{
    height: 150px;
    width: 150px;
}
