@import "styles";

img{
    .welcome{
        width: 240px;
        height: 120px;
    }

    .logo{
        @include logo-setup;
    }
}

.navbar{
    background-color: $color-fondo;
}

body{
    @include body-setup();
}

.welcome{
    text-align: center;
    color: azure;
    font-size: large;
}

.card{
   text-align: center;
   margin: 0 auto;
   float: none;
   
}

.badge{
    .bg-mine{
        color: #ffffff;
        background-color: #8f42f3;
    }
}
  